fastapi
uvicorn
python-multipart
jinja2
pandas
openpyxl
psycopg2-binary
selenium
webdriver-manager
requests
beautifulsoup4
sqlalchemy
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
pydantic-settings
pydantic[email]
alembic
google-auth
